.myButton {
  width: 65px;
  background: #e96443;
  background: -webkit-linear-gradient(to right, #904e95, #e96443);
  background: linear-gradient(to right, #904e95, #e96443);
  border: none;
  padding: 6px 10px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.myButton:hover {
  background: #f7ff00;
  background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);
  background: linear-gradient(to right, #db36a4, #f7ff00);
}
